{% extends "base_menu.html" %}
{% block content %}
    <h1>Welcome to {{ settings.APP_NAME }}</h1>
<div style="float:right;">
<a href="https://www.djangoproject.com/" target="_blank">
    <img src="https://static.djangoproject.com/img/logo-django.42234b631760.svg" style="background-color: #0C3C26; padding: 10px;">
</a>
</div>
    <p>
    This is a web site that showcases projects from the SI364 and SI664
    (<a href="https://www.dj4e.com/" target="_blank">Django</a>) courses 
    at the University of Michigan School of information.  The students 
    who produced these projects did them as an optional project while
    taking the course.
    </p>
    <p>
    You can see the project
    <a href="https://www.dj4e.com/project/00_overview.md" target="_blank">
        specifications</a> and 
    <a href="https://www.dj4e.com/lessons/pr_description" target="_blank">
        milestones</a>.
    </p>
{% endblock %}
