{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/2.1/ref/contrib/humanize -->
{% load crispy_forms_tags %}
{% block content %}
<span style="float: right;">
({{ project.updated_at|naturaltime }})
{% if project.owner == user %}
<a href="{% url 'projects:update' project.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'projects:delete' project.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ project.title }}</h1>
{% if project.content_type %}
<img style="float:right; max-width:30%;" src="{% url 'projects:picture' project.id %}">
{% endif %}
<p>
{{ project.text }}
</p>
{% if user.is_authenticated %}
<br clear="all"/>
{% if project.contact %}
<p>
Contact: {{project.contact}}
</p>
{% endif %}
<p>
<form method="post" action="{% url 'projects:comment_create' project.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Submit">
<input type="submit" value="All Projects" onclick="window.location.href='{% url 'projects:all' %}';return false;">
</form>
</p>
{% endif %}
{% for comment in comments %}
<p> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'projects:comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}

{% endblock %}
