{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/2.1/ref/contrib/humanize -->
{% load crispy_forms_tags %}
{% block head %}
<style>
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
</style>
{% endblock %}
{% block content %}
<div id="overlay" class="overlay" style="text-align: center; margin-top: 50px;"
onclick="$('#overlay').hide();" >
<img style="width:90%;border:3px solid black;" src="{% url 'projects:picture' project.id %}">
</div>
<span style="float: right;">
({{ project.updated_at|naturaltime }})
{% if project.owner == user %}
<a href="{% url 'projects:update' project.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'projects:delete' project.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>
    {{ project.title }}
    {% if project.url %}
    <br/>
    <a href="{{project.url}}" target="_blank" style="font-size: 0.6em;">
    {{ project.url }}
    </a>
    {% endif %}
</h1>
{% if project.content_type %}
<img style="float:right; max-width:30%;" src="{% url 'projects:picture' project.id %}"
                                         onclick="$('#overlay').show();">
{% endif %}
<p>
{{ project.text }}
</p>
{% if project.source %}
<p>
Project source:
<a href="{{ project.source }}" target="_blank">{{ project.source }}</a>
</p>
{% endif %}
{% if user.is_authenticated %}
<br clear="all"/>
<p>
<form method="post" action="{% url 'projects:comment_create' project.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Submit">
<input type="submit" value="All Projects" onclick="window.location.href='{% url 'projects:all' %}';return false;">
</form>
</p>
{% endif %}
{% for comment in comments %}
<p> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'projects:comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}

{% endblock %}
