{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block content %}
<span style="float: right;">
({{ project.updated_at|naturaltime }})
{% if project.owner == user %}
<a href="{% url 'projects:update' project.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'projects:delete' project.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ project.title }}</h1>
<p>
{{ project.text }}
</p>
{% if user.is_authenticated %}
{% if project.contact %}
<p>
Contact: {{ project.contact }}
</p>
{% endif %}
{% endif %}
<p>
<a href="{% url 'projects:all' %}">All projects</a>
</p>
{% endblock %}
